
/* HomePage */
.HomeFlex {
    display: flex;
  }
  
  .HomeFlexHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .HomeWeight {
    font-weight: 700;
    font-size: 25px;
  }
  
  .HomeSecondColumn {
    height: 36.6rem;
    border-left: 1px solid rgb(150, 150, 150);
  }
  
  .HomeHeader {
    height: 2.5rem;
    background-color: rgb(153, 102, 255);
    border-bottom: 1px solid rgb(150, 150, 150);
    color: black;
  }
  
  .HomePadding {
    padding: 10px 20px 10px 20px;
  }
  
  .HomePaddingColumn {
    padding: 0px 40px;
  }
  
  .HomePaddingHeader {
    padding: 0px 20px;
  }
  
  .PaddingLogout {
    padding-right: 10px;
  }
  
  .PaddingColumn {
    padding-top: 20px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .PaddingColumn:hover {
    padding-top: 20px;
    font-size: 22px;
    cursor: pointer;
    color: grey;
  }
  
  /* LoginPage */
  .LoginPageBackground {
  
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .LoginPageRegistration {
    width: 350px;
    height: 370px;
    background-color: rgba(128, 128, 128, 0.159);
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }
  
  h1 {
    display: flex;
    justify-content: center;
  }
  
  .LoginPageInput {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }
  
  .LoginPageInputPut {
    padding-right: 50px;
  }
  
  .LoginPageInputAuthorization {
    display: flex;
    justify-content: end;
  }
  
  .loginPageRegistrationFrom {
    padding-top: 50px;
  }
  
  .LoginPageGetStarted {
    display: flex;
    justify-content: center;
    background-color: rgb(153, 102, 255);
    border-radius: 15px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .LoginPageGetStarted:hover {
    display: flex;
    justify-content: center;
    background-color: rgba(153, 102, 255, 0.642);
    border-radius: 15px;
    color: white;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .loginPageRegistrationFromAut {
    padding-top: 20px;
  }
  
  .LoginPageLogOut {
    cursor: pointer;
    padding: 2px;
  }
  
  .LoginPageLogOut:hover {
    cursor: pointer;
    background-color: rgb(129, 69, 251);
    border-radius: 5px;
    padding: 2px;
  }
  
  .LoginPageLogOutCircle {
    cursor: pointer;
    padding: 1px;
  }
  
  .LoginPageLogOutCircle:hover {
    width: 142px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(153, 102, 255); 
    border-radius: 5px;
    padding: 2px;
  }

  .LoginPageLogOutCircleSecond {
    cursor: pointer;
    padding: 1px;
  }
  
  .LoginPageLogOutCircleSecond:hover {
    width: 170px;
    height: 25px;
    cursor: pointer;
    background-color: rgb(153, 102, 255); 
    border-radius: 5px;
    padding: 2px;
  }
  
  .LinkLoginAndAuth {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .LinkLoginAndAuth:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .LinkHeader {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .LinkAuth {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .LoginPageAuth {
    width: 350px;
    height: 320px;
    background-color: rgba(128, 128, 128, 0.159);
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    justify-content: center;
  }
  
  th {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
  }
  
  td {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 200px;
  }
  
  .TableFlex {
    width: 930px;
    display: flex;
    justify-content: center;
    word-break: break-all;
    
  }
  
  .TableFlexHeader {
    width: 858px;
    display: flex;
    justify-content: center;
    word-break: break-all;
  }
  
  .HighlightOffIcon {
    width: 20px;
    outline: 0px;
    border: 0px;
    padding-top: 13px;
    padding-bottom: 14px;
    background-color: white;
    cursor: pointer;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }
  
  .HighlightOffIcon:hover {
    outline: 0px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0.01);;
    cursor: pointer;
    color: rgba(42, 42, 42, 0.569);
    border-top: 1px solid black;
    border-right: 1px solid black;
  }

  .Expenses {
    color: rgb(153, 102, 255);
    padding: 0px 10px;

  }

